site_name: Quattor Documentation

theme: 'readthedocs'

pages:
- introduction: 'index.md'
[% FOREACH subdir_pages IN toc.pairs -%]
- [% subdir_pages.key %]:
[%-     FOREACH page IN subdir_pages.value %]
    - [% page.split('.').first %]: [% subdir_pages.key %]/[% page -%]
[%     END %]
[% END -%]
