Documentation
-------------
[%- FOREACH subdir_pages IN toc.pairs.sort %]

.. toctree::
    :caption: [% subdir_pages.key %]
    :maxdepth: 1
    
[%-     FOREACH page IN subdir_pages.value %]
    [% subdir_pages.key %]/[% page.split('.').first %]
[%-     END -%]
[% END -%]
