g.edge:hover {
    fill: #c4a000;
    cursor: default;
    filter: drop-shadow(0 0 2px #fce94f);
}
g.edge:hover > path {
    stroke: #c4a000;
    filter: drop-shadow(0 0 2px #fce94f);
}
g.edge:hover > polygon {
    stroke: #c4a000;
    fill: #c4a000;
    filter: drop-shadow(0 0 2px #fce94f);
}
