{% if content.types or content.functions or content.variables %}
{% for i in range(title|length) %}#{% endfor %}

{{ title }}
{% for i in range(title|length) %}#{% endfor %}
{% endif %}

{% if content.types %}

Types
-----

{% for type in content.types %}
 - **{{ basename }}{{ type.name }}**
    {% if type.desc %}
    - Description: {{ type.desc }}
    {% endif %}
    {% if type.fields -%}
    {% for field in type.fields %}
    - *{{ basename }}{{ type.name }}/{{ field.name }}*
        {% if field.desc %}
        - Description: {{ field.desc }}
        {% endif %}
        {% if field.required == 'true' %}
        - Required
        {% else %}
        - Optional
        {% endif %}
        - Type: {{ field.type }}
        {% if field.range %}
        - Range: {{ field.range }}
        {% endif %}
        {% if field.default %}
        - Default value: {{ field.default }}
        {% endif %}
    {% endfor %}
    {% endif %}
{% endfor %}
{% endif %}
{% if content.variables %}

Variables
---------

{% for variable in content.variables %}
 - {{ variable.name }}
    {% if variable.desc %}
    - Description: {{ variable.desc }}
    {% endif %}
    {% if variable.default %}
    - Default value: {{ variable.default }}
    {% endif %}
    {% if variable.varvalues %}
    - Default value: {{ variable.varvalues }}
    {% endif %}
{% endfor %}
{% endif %}
{% if content.functions %}

Functions
---------

{% for function in content.functions %}
 - {{ function.name }}
    {% if function.desc %}
    - Description: {{ function.desc }}
    {% endif %}
    {% if function.args %}
    - Arguments:
    {% for arg in function.args %}
        - {{ arg }}
    {% endfor -%}
    {%  endif %}
{% endfor %}
{% endif %}
