[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit the test directory
    */test/*
    # omit everything in /tmp
    /tmp/*
