{% if content.types %}

### Types

{% for type in content.types %}
 - `/software/{{ basename }}/{{ type.name }}`
    {% if type.desc %}
    - Description: {{ type.desc }}
    {% endif %}
    {% if type.fields %}
    {% for field in type.fields %}
    - `/software/{{ basename }}/{{ type.name }}/{{ field.name }}`
        {% if field.desc %}
        - Description: {{ field.desc }}
        {% endif %}
        {% if field.required == true %}
        - Required
        {% else %}
        - Optional
        {% endif %}
        - Type: {{ field.type }}
        {% if field.range %}
        - Range: {{ field.range }}
        {% endif %}
    {% endfor %}
    {% endif %}
{% endfor %}
{% endif %}
{% if content.functions %}

### Functions

{% for function in content.functions %}
 - {{ function.name }}
    {% if function.desc %}
    - Description: {{ function.desc }}
    {% endif %}
    {% if function.args %}
    - Arguments:
    {% for arg in function.args %}
        - {{ arg }}
    {% endfor %}
    {% endif %}
{% endfor %}
{% endif %}
