site_name: Quattor Documentation

theme: 'readthedocs'

pages:
- introduction: 'index.md'
{% for subdir, pages in toc.items()|sort %}
- {{ subdir }}:
    {% for page in pages|sort %}
    {% set basename = page.split('.')[0] %}
    - {{ basename }}: {{ subdir }}/{{ page }}
    {% endfor %}
{% endfor %}
